//*****this only appears if session[:user].nil?
//**********************************************

#navigation-block
  %ul.code#sliding-navigation
    %li.sliding-element
      %div.accordion
        %h3.navi
          %a.pointer Log-in.
        %div
          -form_tag(twitter_path) do
            %center
              %p= image_submit_tag "/images/buttons/twit.png"

    %li.sliding-element
      %h3.navi
        = link_to "About.", '#'
