#navigation-block
  %ul.code#sliding-navigation
    %li.sliding-element
      %h3.navi
        = link_to image_tag("/images/buttons/home.png"), root_url
    %li.sliding-element
      %h3.navi
        = link_to image_tag("/images/buttons/dash.png"), root_url
    %li.sliding-element
      %h3.navi
        = link_to image_tag("/images/buttons/login.png"), login_index_url
    %li.sliding-element
      %h3.navi
        = link_to image_tag("/images/buttons/about.png"), '#'
