#head-board {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1.0;
  z-index: 999999;
  min-width: 600px;
  width: 100%;
  height: 35px;
  line-height: 20px;
  clear: both; }

#page {
  margin: 0 auto;
  padding: 3em 0;
  width: 100%;
  min-width: 600px;
  max-width: 1200px; }

#header {
  clear: both;
  float: left;
  width: 100%;
  height: 100px; }

#page2 {
  margin: 0 auto;
  padding-top: 30px;
  min-width: 600px;
  max-width: 100%; }

#wrapper {
  float: left;
  width: 100%; }

#content {
  margin: 0 0 0 175px; }

#content2 {
  margin: auto; }

#side {
  float: left;
  min-width: 150px;
  margin-left: -100%; }

#footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%; }

.headerPadding {
  padding: 1em; }

.contentPadding {
  padding: 1em;
  min-height: 450px; }

.sidePadding {
  padding: 1em 0.5em 1em 0.5em; }

.footerPadding {
  padding: 1em; }

body {
  margin: 0;
  min-width: 550px;
  background: #648e9d url('/images/backbg.png') repeat-x;
  font-family: Helvetica, sans-serif; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h7 {
  font-size: 10px;
  color: #FFFFFF; }

p {
  font-size: 12;
  color: #FFFFFF; }

img {
  border: none; }

.clearBoth {
  clear: both; }

a {
  color: #e6e8f1;
  text-decoration: none; }

#head-board {
  background: url("/images/board.png");
  text-align: right;
  list-style-stype: none; }
  #head-board li {
    display: inline;
    font-size: 11px; }
    #head-board li ahover {
      border: 1px #FFFFFF; }

#header {
  border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  background: url('/images/headbg.png');
  min-width: 590px; }

#header2 {
  background: url('/images/headbg.png'); }

#wrapper {
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  background: #648e9d; }

#footer {
  background: url("/images/footer.png");
  opacity: 1.0;
  color: #FFFFFF;
  text-align: center; }

#page_effect {
  display: none; }

#head_image {
  position: relative;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  width: 425;
  height: 100px;
  float: right;
  margin-left: -1em;
  background: url("/images/logo_wht.png") no-repeat; }
  #head_image a {
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 100px;
    display: block;
    border: 0;
    background: transparent;
    overflow: hidden; }
  #head_image .fake-hover {
    margin: 0;
    padding: 0;
    width: 425px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/images/logo_wht.png") no-repeat 0 -100px; }

.pointer {
  cursor: pointer; }

.cursor-default {
  cursor: default; }

.movable {
  cursor: move; }

.limiter {
  max-width: 270px;
  max-height: 300px;
  overflow: auto; }

.valign {
  vertical-align: top; }

.bold {
  font-weight: heavy; }

.table-expand {
  position: relative;
  top: 0;
  padding: 0;
  margin: 0; }
  .table-expand tr td {
    border-spacing: 0;
    padding: 0; }

.sortable {
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .sortable li {
    width: 225px;
    font-size: 11px;
    margin: 0 3px 3px;
    padding: 2px; }
    .sortable li span {
      margin-left: -1.3em; }

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .nav-list li {
    font-size: 18px;
    line-height: 40px;
    display: inline; }

.dashed {
  border-bottom: 1px dotted;
  font-size: 16px;
  list-style-type: none; }

.icons {
  padding: 1px; }

.center {
  text-align: center;
  align: center; }

.white {
  color: #FFFFFF; }

.milestone {
  font-family: serif;
  font-size: 10px;
  border: 1px solid #4297d7;
  background: #5c9ccc 50% 50% repeat-x;
  color: #ffffff; }

.label {
  font-size: 14px;
  font-weight: heavy;
  padding: 8px; }

.corner {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding-bottom: 7px;
  padding-right: 7px; }

.collapse {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0; }

#navigation-block {
  color: #e6e8f1; }
  #navigation-block h3 .navi {
    opacity: 0.5;
    filter: alpha(opacity=0.5); }

#navigation-block {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  border-left: #d6dfc9 3px dashed; }

ul#sliding-navigation {
  list-style: none;
  margin: 30px 0;
  padding: 5px; }
  ul#sliding-navigation li .sliding-element h3 a {
    display: block;
    width: 150px;
    padding: 5px 18px;
    margin: 0;
    margin-bottom: 5px; }
    ul#sliding-navigation li .sliding-element h3 ahover {
      color: #FFFFFF; }

#content-box {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  padding: 10px;
  min-width: 50%;
  min-height: 50%;
  border: #d6dfc9 3px solid; }

.contentBoxPadding {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  display: block; }
