#head-board {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 600px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  clear: both; }

#page {
  margin: 0 auto;
  padding: 3em 0;
  width: 100%;
  min-width: 600px;
  max-width: 1200px; }
  #page #header {
    clear: both;
    float: left;
    width: 100%;
    height: 100px; }

#wrapper {
  float: left;
  width: 100%; }

#content {
  margin: 0 0 0 175px; }

#side {
  float: left;
  min-width: 150px;
  margin-left: -100%; }

#footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%; }

.headerPadding {
  padding: 1em; }

.contentPadding {
  padding: 1em;
  min-height: 450px; }

.sidePadding {
  padding: 1em 0.5em 1em 0.5em; }

.footerPadding {
  padding: 1em; }

body {
  margin: 0;
  min-width: 550px;
  background: #648E9D url("/images/backbg.png") repeat-x;
  font-family: Helvetica, sans-serif; }

h3 {
  font-size: 18; }

h4 {
  font-size: 16; }

h5 {
  font-size: 14; }

p {
  font-size: 12;
  color: #FFFFFF; }

img {
  border: none; }

.clearBoth {
  clear: both; }

a {
  color: #e6e8f1;
  text-decoration: none; }

#head-board {
  background: url("/images/board.png");
  text-align: right; }

#header {
  border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  background: #D6DFC9; }

#header2 {
  background: #D6DFC9; }

#wrapper {
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  background: #648E9D; }

#footer {
  background: url("/images/footer.png");
  opacity: 0.8;
  color: #FFFFFF;
  text-align: center; }

#page_effect {
  display: none; }

#head_image {
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  width: 425;
  height: 100px;
  position: relative;
  float: right;
  margin-left: -1em;
  background: url("/images/logo_wht.png") no-repeat; }
  #head_image a {
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 100px;
    display: block;
    border: 0;
    background: transparent;
    overflow: hidden; }
  #head_image .fake-hover {
    margin: 0;
    padding: 0;
    width: 425px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/images/logo_wht.png") no-repeat 0 -100px; }

.table-scaffold table {
  border: 2px solid; }
  .table-scaffold table tr, .table-scaffold table td {
    cellpadding: 1px;
    cellspacing: 2px; }
  .table-scaffold table .odd {
    background: gray; }
  .table-scaffold table .even {
    background: yellow; }

.pointer {
  cursor: pointer; }

#navigation-block {
  color: #e6e8f1; }

h3 .navi {
  opacity: 0.5;
  filter: alpha(opacity=0.5); }

#navigation-block {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  border-left: 3px #D6DFC9 dashed; }

#hide {
  position: absolute;
  top: 30px;
  left: -190px; }

ul#sliding-navigation {
  list-style: none;
  margin: 30px 0;
  padding: 5px; }
  ul#sliding-navigation li .sliding-element h3 a {
    display: block;
    width: 150px;
    padding: 5px 18px;
    margin: 0;
    margin-bottom: 5px; }
    ul#sliding-navigation li .sliding-element h3 ahover {
      color: #FFFFFF; }

#content-box {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  padding: 20px;
  min-width: 50%;
  min-height: 50%;
  border: 3px #D6DFC9 solid; }
  #content-box #table-container ul {
    position: relative; }
    #content-box #table-container ul li {
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      float: left;
      width: 100%;
      padding: 0;
      margin: 5px 0;
      display: inline; }
    #content-box #table-container ul .block {
      height: 355px;
      font-size: 1em;
      margin-right: 10px;
      padding: 5px; }

.contentBoxPadding {
  position: relative;
  margin: 0 auto;
  padding: 5px;
  display: block; }
