#head-board {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1.0;
  z-index: 999999;
  min-width: 600px;
  width: 100%;
  height: 35px;
  line-height: 20px;
  clear: both; }

#page {
  margin: 0 auto;
  min-width: 600px;
  padding: 3em 0; }

#header {
  clear: both;
  float: left;
  width: 100%;
  height: 100px; }

#page2 {
  margin: 0 auto;
  min-width: 600px;
  padding-top: 30px;
  width: 100%; }

#page3 {
  margin: 0 auto;
  min-width: 600px;
  padding-top: 60px; }

#wrapper {
  float: left;
  width: 100%; }

#content {
  margin: 0 0 0 175px; }

#content2 {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 30px; }

#side {
  float: left;
  min-width: 150px;
  margin-left: -100%; }

#footer {
  position: relative;
  bottom: 0;
  margin: 0;
  width: 100%; }

#footer2 {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%; }

.headerPadding {
  padding: 1em; }

.contentPadding {
  padding: 1em; }

.sidePadding {
  padding: 1em 0.5em 1em 0.5em; }

.footerPadding {
  padding: 1em; }

body {
  margin: 0;
  min-width: 550px;
  background: white;
  font-family: Helvetica, sans-serif;
  text-align: center; }

h7 {
  font-size: 10px; }

p {
  font-size: 12;
  padding: 0;
  margin: 0; }

h3 {
  padding: 0;
  margin: 0; }

img {
  border: none; }

a {
  color: #5f8cd0;
  text-decoration: none; }

#head-board {
  background: url("/images/board.png");
  text-align: right; }
  #head-board ul {
    list-style-stype: none; }
    #head-board ul li {
      display: inline;
      font-size: 11px; }
      #head-board ul li ahover {
        border: 1px #FFFFFF; }

#header {
  border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  background: url('/images/headbg.png');
  min-width: 590px; }

#wrapper {
  background: white;
  width: 100%; }

#footer {
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  background: url('/images/headbg.png');
  text-align: center;
  line-height: 25px;
  height: 30px; }

#footer2 {
  background: url('/images/headbg.png');
  text-align: center; }

#page_effect {
  display: none; }

#head_image {
  position: relative;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  width: 425;
  height: 100px;
  float: right;
  margin-left: -1em;
  background: url("/images/logo_wht.png") no-repeat; }
  #head_image a {
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 100px;
    display: block;
    border: 0;
    background: transparent;
    overflow: hidden; }
  #head_image .fake-hover {
    margin: 0;
    padding: 0;
    width: 425px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/images/logo_wht.png") no-repeat 0 -100px; }

#navigation-block {
  color: #e6e8f1; }
  #navigation-block h3 .navi {
    opacity: 0.5;
    filter: alpha(opacity=0.5); }

#navigation-block {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  border-left: #dbdbdb 3px dashed; }

ul#sliding-navigation {
  list-style: none;
  margin: 30px 0;
  padding: 5px; }
  ul#sliding-navigation li .sliding-element h3 a {
    display: block;
    width: 150px;
    padding: 5px 18px;
    margin: 0;
    margin-bottom: 5px; }
    ul#sliding-navigation li .sliding-element h3 ahover {
      color: #FFFFFF; }

#content-box {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  padding: 10px;
  min-width: 50%;
  min-height: 50%;
  border: #dbdbdb 3px solid; }

.topPadding {
  padding-top: 15px; }

#tab-container {
  position: relative;
  left: 0;
  margin: auto;
  height: 25px; }

ol ul {
  list-style-type: none; }

.clearBoth {
  clear: both; }

.pointer {
  cursor: pointer; }

.cursor-default {
  cursor: default; }

.movable {
  cursor: move; }

.valign {
  vertical-align: top; }

.bold {
  font-weight: heavy; }

.sortable {
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .sortable li {
    width: 220px;
    font-size: 11px;
    margin: auto;
    padding: 2px; }
    .sortable li .story_items {
      position: relative;
      width: 206px;
      padding-right: 17px; }
    .sortable li .storyDetailIcon {
      position: relative;
      float: right;
      top: 0;
      margin-top: -20px;
      margin-right: -1px;
      width: 16px;
      display: none; }

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .nav-list li {
    font-size: 18px;
    line-height: 40px;
    display: inline; }

.dashed {
  border-bottom: 1px dotted;
  font-size: 16px;
  list-style-type: none; }

.center {
  text-align: center;
  align: center; }

.ui-icon-circle-close {
  position: relative;
  top: 0;
  right: 0;
  float: right;
  width: 20px;
  padding: 0;
  margin: 0; }

.white {
  color: #FFFFFF; }

.milestone {
  font-family: serif;
  font-size: 10px;
  background: #5c9ccc 50% 50% repeat-x;
  color: #FFFFFF; }

.label {
  min-width: 220px;
  font-size: 12px;
  padding: 5px; }

.collapse {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0; }
  .collapse tr td {
    border-spacing: 0;
    padding: 0; }

.hilite {
  background: #DFFFFF; }

.label_tab {
  border-right: 1px dotted #BFFFFF;
  border-left: 1px dotted #BFFFFF;
  margin-left: 5px;
  float: left;
  min-width: 100px;
  display: none; }

.story_card {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: absolute;
  width: 300px;
  padding: 5px;
  background: #FFF8C6;
  z-index: 999999;
  display: none; }
  .story_cardhover {
    display: block; }

#overlay {
  position: fixed;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E0E0E0;
  z-index: 1000;
  display: none; }

#loading {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 150px;
  height: 30px;
  padding: 18px;
  background: #E0E0E0;
  opacity: 0.8;
  z-index: 9999;
  line-height: 30px;
  display: none; }
  #loading h5 {
    padding: 5px;
    margin: 0; }

.odd {
  background: #F5F5F5; }


.current {
  background: #F5F5DC; }
