:javascript
  $(document).ready(function() {
    $(".table-1").tableDnD();
  });

- @users.each do |user|
  #table-container
    %table
      %tr
        %th= user.screen_name
      %tr
        %td
          %div.accordion
            - session[:token] = nil
            - session[:token] = PivotalTracker::Client.token = user.token
            - @projects = PivotalTracker::Project.all
            - @projects.each do |project|
              %h3.pointer= project.name
              %div.limiter
                %p
                  .table-scaffold
                    %table.table-1
                      - project.stories.all.each do |story|
                        %tr{:class => cycle('even', 'odd')}
                          %td= story.name
