:javascript
  $(document).ready(function() {
      $(".table-1").tableDnD();
  });


- @users.each do |user|
  %table
    %tr
      %th= user.screen_name
    - session[:token] = nil
    - session[:token] = PivotalTracker::Client.token = user.token
    - @projects = PivotalTracker::Project.all
    - @projects.each do |project|
      %tr
        %td= project.name
      %tr
        %td
          %table.table-1
            - project.stories.all.each do |story|
              %tr
                %td= story.name
