:javascript
  $(document).ready(function() {
      $(".table-1").tableDnD();

  });


- @users.each do |user|
  %table
    %tr
      %th= user.screen_name
    %tr
      %td
        %div
          - session[:token] = nil
          - session[:token] = PivotalTracker::Client.token = user.token
          - @projects = PivotalTracker::Project.all
          - @projects.each do |project|
            %div
              = project.name
            %div
              %p
                .table-scaffolding
                  %table.table-1
                    - project.stories.all.each do |story|
                      %tr{:class => cycle('even', 'odd')}
                        %td= story.name
