:javascript
$(document).ready(function() {
jQuery('.accordable').accordion()
});

//*****floating menu *inspired by tumblr :D*
//*************************************************

%div.code#nav
	%ul
		%li
			%a.top{:href => "#top" }
				%img{:src => "/images/buttons/top.png" }
		%li
			%a.bottom{:href => "#bottom"}
				%img{:src => "/images/buttons/bottom.png" }



//*****tables for each user
//**************************

%table
	%thead.ui-widget-header
		%tr
			%td{:colspan => '4'} THIS IS THE HEADER FOR THIS TABLE, IT'S CALLED TABLE HEADER.
	%tbody
		%tr
			%td
				%table.ui-widget-content
					%thead
						%tr
							%td{:align => 'center', :colspan => '4'} RELEASE HEADER

					%tbody
						%tr
							- session[:token] = session[:user].token
							- @labels = Login.labelled(session[:token])[1]
							- @labels.each do |label|
								%td{:style => "vertical-align:top"}
									%p.ui-widget-header
										= label
										
										
										
