%br
%center
  #login-box
    .loginPadding
      -form_for(@user) do |f|
        %table
          %tr
            %td
              %h2 Please Login
          %tr
            %td
              %p
                = f.submit "Sign in with twitter"
