//*************classes*************//
.clearBoth
  :clear both
  
.pointer
  :cursor pointer

.cursor-default
  :cursor default

.movable
  :cursor move

.valign
  :vertical-align top

.bold
  :font-weight heavy

.sortable
  min-height: 20px
  list-style-type: none
  margin: 0
  padding: 0
  li
    width: 220px
    font-size: 11px
    margin: 0 3px 3px
    padding: 2px
    span
      margin-left: -1.3em

.nav-list
  list-style-type: none
  margin: 0
  padding: 0
  li
    font-size: 18px
    line-height: 40px
    display: inline

.dashed
  :border-bottom 1px dotted
  :font-size 16px
  :list-style-type none

.center
  :text-align center
  :align center
  
.ui-icon-circle-close
  :position relative
  :top 0
  :right 0
  :float right
  :width 20px
  :padding 0
  :margin 0

.white
  :color #FFFFFF

.milestone
  :font-family serif
  :font-size 10px
  :border 1px solid #4297d7
  :background #5c9ccc 50% 50% repeat-x
  :color #ffffff

.label
  :min-width 220px
  :font-size 14px
  :padding 8px

.collapse
  :border-collapse collapse
  :border-spacing 0
  :padding 0
  :margin 0
  tr
    td
      :border-spacing 0
      :padding 0

.hilite
  :background #DFFFFF

.label_tab
  :border-right 1px dotted #BFFFFF
  :border-left 1px dotted #BFFFFF
  :margin auto
  :float left
  :min-width 100px
  :display none
  
.storyDetailIcon
  +relative
  :float right
  :display none
  :text-align right
