=relative
  :position relative

=absolute
  :position absolute


#page
  :margin 0 auto
  :padding 3em 0
  :width 80%
  :min-width 600px
  :max-width 1200px

  #header
    clear: both
    float: left
    width: 100%
    height: 100px

  
#wrapper
  :float left
  :width 100%

#content
  :margin 0 0 0 200px

.bar
  +border-radius(10px)
  +relative
  :background #213e5b
  :width 100%

#side
  :float left
  :width 200px
  :margin-left -100%

.headerPadding
  :padding 1em

.contentPadding
  :padding 1em
  :min-height 450px

.sidePadding
  :padding 1em 0.5em 1em 0.5em

.footerPadding
  :padding 1em
