=relative
  :position relative

=absolute
  :position absolute

=fixed
  :position fixed

=margin-auto
  :margin 0 auto
  
=pages
  +margin-auto
  :min-width 600px



//*************main lay-out*************//
#head-board
  +fixed
  :top 0
  :left 0
  :opacity 1.0
  :z-index 999999
  :min-width 600px
  :width 100%
  :height 35px
  :line-height 20px
  :clear both

#page
  +pages
  :padding 3em 0

#header
  clear: both
  float: left
  width: 100%
  height: 100px

#page2
  +pages
  :padding-top 30px
  :width 100%
  
#page3
  +pages
  :padding-top 60px
  
#wrapper
  :float left
  :width 100%

#content
  :margin 0 0 0 175px

#content2
  :margin auto
  :padding-bottom 30px

#side
  :float left
  :min-width 150px
  :margin-left -100%

#footer
  +relative
  :bottom 0
  :margin 0
  :width 100%
  
#footer2
  +fixed
  :bottom 0
  :margin 0
  :width 100%
  
.headerPadding
  :padding 1em

.contentPadding
  :padding 1em

.sidePadding
  :padding 1em 0.5em 1em 0.5em

.footerPadding
  :padding 1em
