!bgcolor = #FFFFFF
!hcolor = #dbdbdb
!acolor = #5f8cd0
!headbg = url("/images/headbg.png")

//*************others and stuff*************//
body
  margin: 0
  min-width: 550px
  background = !bgcolor
  :font-family Helvetica, sans-serif
  :text-align center

h7
  :font-size 10px

p
  :font-size 12
  :padding 0

img
  border: none

a
  color = !acolor
  :text-decoration none

//*************styles for lay-out*************//
#head-board
  :background url("/images/board.png")
  :text-align right
  ul
    :list-style-stype none
    li
      :display inline
      :font-size 11px
      a
        &hover
          :border 1px #FFFFFF
        
#header
  +border-radius-top(20px)
  background = !headbg
  :min-width 590px
  
#wrapper
  background = !bgcolor
  :width 100%

#footer
  +border-radius-bottom(20px)
  background = !headbg
  :text-align center
  :line-height 25px
  :height 30px
  
#footer2
  background = !headbg
  :text-align center 

#page_effect
  :display none

#head_image
  +relative
  margin: 0
  padding: 0
  text-indent: -9999px
  width: 425
  height: 100px
  float: right
  margin-left: -1em
  background: url("/images/logo_wht.png") no-repeat

  a
    position: absolute
    top: 0
    left: 0
    width: 425px
    height: 100px
    display: block
    border: 0
    background: transparent
    overflow: hidden

  .fake-hover
    margin: 0
    padding: 0
    width: 425px
    height: 100px
    display: block
    position: absolute
    top: 0
    left: 0
    background: url("/images/logo_wht.png") no-repeat 0 -100px

