!bgcolor = #648E9D
!hcolor = #D6DFC9
!headbg = url("/images/headbg.png")


//*************others and stuff*************//
body
  margin: 0
  min-width: 550px
  background = !bgcolor url("/images/backbg.png") "repeat-x"
  :font-family Helvetica, sans-serif

h3
  :font-size 18px

h4
  :font-size 16px

h5
  :font-size 14px

h7
  :font-size 10px
  :color #FFFFFF

p
  :font-size 12
  :color #FFFFFF

img
  border: none

.clearBoth
  clear: both

a
  :color #e6e8f1
  :text-decoration none



//*************styles for lay-out*************//
#head-board
  :background url("/images/board.png")
  :text-align right

#header
  +border-radius-top(20px)
  background = !headbg

#header2
  background = !headbg

#wrapper
  +border-radius-bottom(20px)
  background = !bgcolor

#footer
  :background url("/images/footer.png")
  :opacity 0.8
  :color 	#FFFFFF
  :text-align center

#page_effect
  :display none

#head_image
  margin: 0
  padding: 0
  text-indent: -9999px
  width: 425
  height: 100px
  position: relative
  float: right
  margin-left: -1em
  background: url("/images/logo_wht.png") no-repeat

  a
    position: absolute
    top: 0
    left: 0
    width: 425px
    height: 100px
    display: block
    border: 0
    background: transparent
    overflow: hidden

  .fake-hover
    margin: 0
    padding: 0
    width: 425px
    height: 100px
    display: block
    position: absolute
    top: 0
    left: 0
    background: url("/images/logo_wht.png") no-repeat 0 -100px



//*************classes*************//
.pointer
  :cursor pointer

.limiter
  :width 270px
  :height 300px
  :overflow auto
