%head
  %title percolait tracker
  = render :partial => 'layouts/includes'

#body
  #page
    #header
      .headerPadding
        %h1.code#head_image
          %span.fake-hover
          %a{:href=> "/homepage"}
      %div.clearBoth

    #midpage
      #wrapper
        #content
          .contentPadding
            .bar
              %br
            #page_effect
              = yield
      #side
        .sidePadding
          = render :partial => 'homepage/sidebar'
          
      
      %div.clearBoth

    #footer
      .footerPadding
        .bar
          %center
            %table
              %tr
                %td FOOTER YEAH
      %div.clearBoth
